body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url(../img/mountain.jpg); 
	background-size: cover;
}
div{
	width:  100%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	border-radius: 5px;
}
div h1{
	color: #fff;
	font-weight: 500;
	font-family: serif;
	font-size: 100px;

}
div a{
    width: 100px;
    font-size: 21px;
    text-decoration: none;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #fff;
    padding: 14px 30px;
    color: white;
    border-radius: 30px;
    transition: 0.25s;
    cursor: pointer;
}
a:hover{
	width: 140px;
    font-weight: bold;
    color: black;
    background: #FFF;
}		
